.nospace, .nospace-top          { margin-top: 0;             }
.nospace, .nospace-bottom       { margin-bottom: 0;          }
.space-1q, .space-1q-top        { margin-top: 0.25em;        }
.space-1q, .space-1q-bottom     { margin-bottom: 0.25em;     }
.space-h, .space-h-top          { margin-top: 0.5em;         }
.space-h, .space-h-bottom       { margin-bottom: 0.5em;      }
.space-3q, .space-3q-top        { margin-top: 0.75em;        }
.space-3q, .space-3q-bottom     { margin-bottom: 0.75em;     }
.space-1, .space-1-top          { margin-top: 1em;           }
.space-1, .space-1-bottom       { margin-bottom: 1em;        }
.space-1h, .space-1h-top        { margin-top: 1.5em;         }
.space-1h, .space-1h-bottom     { margin-bottom: 1.5em;      }
.space-2, .space-2-top          { margin-top: 2em;           }
.space-2, .space-2-bottom       { margin-bottom: 2em;        }

.nopush, .nopush-top            { padding-top: 0;           }
.nopush, .nopush-bottom         { padding-bottom: 0;        }
.push-1q, .push-1q-top          { padding-top: 0.25em;      }
.push-1q, .push-1q-bottom       { padding-bottom: 0.25em;   }
.push-h, .push-h-top            { padding-top: 0.5em;       }
.push-h, .push-h-bottom         { padding-bottom: 0.5em;    }
.push-3q, .push-3q-top          { padding-top: 0.75em;      }
.push-3q, .push-3q-bottom       { padding-bottom: 0.75em;   }
.push-1, .push-1-top            { padding-top: 1em;         }
.push-1, .push-1-bottom         { padding-bottom: 1em;      }
.push-1h, .push-1h-top          { padding-top: 1.5em;       }
.push-1h, .push-1h-bottom       { padding-bottom: 1.5em;    }
.push-2, .push-2-top            { padding-top: 2em;         }
.push-2, .push-2-bottom         { padding-bottom: 2em;      }

.nogap, .nogap-left             { margin-left: 0;           }
.nogap, .nogap-right            { margin-right: 0;          }
.gap-1q, .gap-1q-left           { margin-left: 0.25em;      }
.gap-1q, .gap-1q-right          { margin-right: 0.25em;     }
.gap-h, .gap-h-left             { margin-left: 0.5em;       }
.gap-h, .gap-h-right            { margin-right: 0.5em;      }
.gap-3q, .gap-3q-left           { margin-left: 0.75em;      }
.gap-3q, .gap-3q-right          { margin-right: 0.75em;     }
.gap-1, .gap-1-left             { margin-left: 1em;         }
.gap-1, .gap-1-right            { margin-right: 1em;        }
.gap-1h, .gap-1h-left           { margin-left: 1.5em;       }
.gap-1h, .gap-1h-right          { margin-right: 1.5em;      }
.gap-2, .gap-2-left             { margin-left: 2em;         }
.gap-2, .gap-2-right            { margin-right: 2em;        }

.nopad, .nopad-left             { padding-left: 0;          }
.nopad, .nopad-right            { padding-right: 0;         }
.pad-1q, .pad-1q-left           { padding-left: 0.25em;     }
.pad-1q, .pad-1q-right          { padding-right: 0.25em;    }
.pad-h, .pad-h-left             { padding-left: 0.5em;      }
.pad-h, .pad-h-right            { padding-right: 0.5em;     }
.pad-3q, .pad-3q-left           { padding-left: 0.75em;     }
.pad-3q, .pad-3q-right          { padding-right: 0.75em;    }
.pad-1, .pad-1-left             { padding-left: 1em;        }
.pad-1, .pad-1-right            { padding-right: 1em;       }
.pad-1h, .pad-1h-left           { padding-left: 1.5em;      }
.pad-1h, .pad-1h-right          { padding-right: 1.5em;     }
.pad-2, .pad-2-left             { padding-left: 2em;        }
.pad-2, .pad-2-right            { padding-right: 2em;       }

.text-right {
    text-align: right;
}
