$primary: #69C673;
$light: #f0f5f7;
$dark: #333333;
$mediumgray: #4e585a;
$lightgray: #a9acb4;

.fill-primary   { background-color: $primary; }
.fill-white     { background-color: white; }
.fill-light     { background-color: $light; }

.dark           { color: $dark; }
.mediumgray     { color: $mediumgray; }
.lightgray      { color: $lightgray; }
